.languageDropdown {
  &__control {
    background-color: $color-grey-700 !important;
    color: $color-white !important;
    // font-size: 20px !important;

    .Dropdown-placeholder {
      margin-left: 35px;
    }
  }

  &__menu {
    color: $color-white !important;
    // font-size: 20px !important;

    .Dropdown-option {
      background-color: $color-grey-700 !important;
      color: $color-white !important;

      // custom cursor
      cursor: url(../src/assets/images/cursor.png), default;

      &:hover {
        background-color: $color-grey-600 !important;
      }
    }
  }

  &__arrow {
    //border-width: 10px 10px 0 !important;
    top: 20px !important;
  }
}
