.sceneBackground {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__image {
    width: 80%;
    height: auto;
    background-size: cover;
    background-position: center;
  }
}
