.sceneBackground {
  width: 100vw;
  height: 100vh;
  background-color: $color-black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__image {
    height: 90%;
    width: 70%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
  }
}
