$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);

$color-grey-900: rgb(26, 25, 25);
$color-grey-800: rgb(46, 46, 46);
$color-grey-700: rgb(63, 63, 63);
$color-grey-600: rgb(88, 88, 88);
$color-grey-500: rgb(116, 116, 116);
$color-grey-400: rgb(116, 116, 116);
$color-grey-300: rgb(156, 156, 156);
$color-grey-200: rgb(196, 194, 194);
$color-grey-100: rgb(247, 242, 236);

$color-red-900: rgb(30, 11, 11);
$color-red-800: rgb(82, 30, 30);
$color-red-700: rgb(130, 47, 47);
$color-red-600: rgb(171, 61, 61);
$color-red-500: rgb(200, 70, 70);
$color-red-400: rgb(226, 58, 58);
$color-red-300: rgb(240, 38, 38);
$color-red-200: rgb(244, 17, 17);
$color-red-100: rgb(255, 2, 2);
