.filmGrain {
  @include matt-display;
  width: 100vw;
  height: 100vh;

  &__flicker {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 999;
    pointer-events: none;
    cursor: none;
    animation: flicker 0.15s infinite;
  }

  &__grain {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 999;
    pointer-events: none;
    cursor: none;
    mix-blend-mode: multiply;
  }

  &__vignette {
    width: 80vw;
    height: 95vh;
    top: 2.5%;
    left: 10%;
    background: radial-gradient(transparent 70%, black), transparent;
    position: absolute;
    z-index: 999;
    pointer-events: none;
    cursor: none;
  }

  &__animatedVignette {
    content: "";
    display: block; /* Scale */
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%); /* Border */
    border-radius: 50%;
    width: 80%;
    padding-bottom: 70%; /* Position */
    border: solid 400px rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    animation: animate-vignette 1s;
    filter: blur(20px);
    pointer-events: none;
    cursor: none;
  }

  &__scratches {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 999;
    pointer-events: none;
    cursor: none;
    animation: scratches 1s infinite;
  }
}

@keyframes scratches {
  0%,
  100% {
    @include get-background(1);
  }
  10% {
    @include get-background(2);
  }
  20% {
    @include get-background(3);
  }
  30% {
    @include get-background(4);
  }
  40% {
    @include get-background(5);
  }
  50% {
    @include get-background(6);
  }
  60% {
    @include get-background(7);
  }
  70% {
    @include get-background(8);
  }
  80% {
    @include get-background(9);
  }
  90% {
    @include get-background(10);
  }
}

@keyframes flicker {
  0% {
    background-color: $color-black;
    opacity: 0.15;
  }
  50% {
    background-color: $color-black;
    opacity: 0;
  }
  100% {
    background-color: $color-black;
    opacity: 0.05;
  }
}

@keyframes animate-vignette {
  0% {
    width: 0%;
    padding-bottom: 0%; /* Position */
    border: solid 800px rgba(0, 0, 0, 1);
    top: 50%;
    left: 50%;
  }
  100% {
    width: 80%;
    padding-bottom: 70%; /* Position */
    border: solid 400px rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
  }
}
