.filmGrain {
  @include matt-display;
  width: 100vw;
  height: 100vh;

  &__flicker {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 999;
    pointer-events: none;
    cursor: none;
    animation: flicker 0.15s infinite;
  }

  &__grain {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 999;
    pointer-events: none;
    cursor: none;
    mix-blend-mode: multiply;
  }

  &__vignette {
    width: 80vw;
    height: 95vh;
    top: 2.5%;
    left: 10%;
    box-shadow: inset 0 0px 100px 30px rgba(0, 0, 0, 1);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 999;
    pointer-events: none;
    cursor: none;
  }

  &__scratches {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 999;
    pointer-events: none;
    cursor: none;
    animation: scratches 1s infinite;
  }
}

@keyframes scratches {
  0%,
  100% {
    @include get-background(random(10));
  }
  10% {
    @include get-background(random(10));
  }
  20% {
    @include get-background(random(10));
  }
  30% {
    @include get-background(random(10));
  }
  40% {
    @include get-background(random(10));
  }
  50% {
    @include get-background(random(10));
  }
  60% {
    @include get-background(random(10));
  }
  70% {
    @include get-background(random(10));
  }
  80% {
    @include get-background(random(10));
  }
  90% {
    @include get-background(random(10));
  }
}

@keyframes flicker {
  0% {
    background-color: $color-black;
    opacity: 0.1;
  }
  50% {
    background-color: $color-black;
    opacity: 0;
  }
  100% {
    background-color: $color-black;
    opacity: 0.05;
  }
}
