.filmGrain {
  animation: grain 1s steps(10) infinite;
  content: "";
  height: 100%;
  width: 100%;
  opacity: 0.2;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  cursor: none;
}
@keyframes grain {
  0%,
  100% {
    background-image: url("../../assets/images/grain/1.jpg");
  }
  10% {
    background-image: url("../../assets/images/grain/2.jpg");
  }
  20% {
    background-image: url("../../assets/images/grain/3.jpg");
  }
  30% {
    background-image: url("../../assets/images/grain/4.jpg");
  }
  40% {
    background-image: url("../../assets/images/grain/5.jpg");
  }
  50% {
    background-image: url("../../assets/images/grain/6.jpg");
  }
  60% {
    background-image: url("../../assets/images/grain/7.jpg");
  }
  70% {
    background-image: url("../../assets/images/grain/8.jpg");
  }
  80% {
    background-image: url("../../assets/images/grain/9.jpg");
  }
  90% {
    background-image: url("../../assets/images/grain/10.jpg");
  }
}
