@import "@/styles/colors";
@import "@/styles/fonts";

.interTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  filter: blur(1px);
  background-color: $color-grey-200;

  img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
  }

  .interTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    margin: 4.5em;

    &__justifyCentered {
      //justify-content: center;
    }

    &__titleText,
    &__bodyText {
      color: $color-grey-100;
      font-family: $main-font;
      font-size: 50px;
      width: 60%;
      pointer-events: none;
      cursor: none;

      @media screen and (min-width: 320px) {
        html {
          font-size: calc(16px + 6 * ((100vw - 320px) / 680));
        }
      }
      @media screen and (min-width: 1000px) {
        html {
          font-size: 22px;
        }
      }
    }

    &__italicizedText {
      font-style: italic;
    }

    &__capitalizedText {
      text-transform: uppercase;
    }

    &__titleText {
      text-transform: uppercase;
      text-decoration: underline;
      position: absolute;
      top: 10%;
    }

    &__choiceText {
      color: $color-grey-100;
      font-family: $main-font;
      text-decoration: none;
      font-size: 40px;
      border: 1px solid $color-grey-100;
      margin: 0.25em 0;
      width: 40%;
      cursor: pointer;

      &:hover {
        pointer-events: all;
        background-color: silver;
        color: black;
      }

      @media screen and (min-width: 320px) {
        html {
          font-size: calc(16px + 6 * ((100vw - 320px) / 680));
        }
      }
      @media screen and (min-width: 1000px) {
        html {
          font-size: 22px;
        }
      }
    }

    &__arrowLink {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 40px;
      text-decoration: none;
      pointer-events: all;
      position: absolute;
      z-index: 1;
      bottom: 150px;
      cursor: pointer;
    }

    &__arrowLinkBack {
      transform: rotate(180deg);
    }
  }
}
