.interTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  filter: blur(1px);
  background-color: $color-grey-200;

  img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
  }

  .interTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 75%;

    &__justifyCentered {
      //justify-content: center;
    }

    &__titleText,
    &__bodyText {
      color: $color-grey-100;
      font-family: $main-font;
      width: 60%;
      pointer-events: none;
      cursor: none;
    }

    &__italicizedText {
      font-style: italic;
    }

    &__capitalizedText {
      text-transform: uppercase;
    }

    &__titleText {
      text-transform: uppercase;
      position: absolute;
      top: 10vh;
      width: 60%;
      display: flex;
      justify-content: center;
      h1 {
        position: relative;
      }
      h1:before {
        content: "";
        position: absolute;
        width: 60%;
        height: 5px;
        bottom: 0;
        left: 20%;
        border-bottom: 3px solid $color-grey-100;
      }
    }

    &__choiceText {
      color: $color-grey-100;
      font-family: $main-font;
      text-decoration: none;
      border: 1px solid $color-grey-100;
      margin: 0.25em 0;
      width: 40%;
      cursor: pointer;

      h2 {
        margin: 0;
      }

      &:hover {
        pointer-events: all;
        background-color: silver;
        color: black;
      }
    }

    &__arrowLink {
      background-color: transparent;
      border: none;
      color: white;
      text-decoration: none;
      pointer-events: all;
      position: absolute;
      z-index: 1;
      bottom: 15vh;
      cursor: pointer;
    }

    &__arrowLinkBack {
      transform: rotate(180deg);
    }
  }
}
