body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $color-black;

  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
