@import "styles/colors";
@import "styles/fonts";

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  height: fit-content;

  .customSliderContainer {
    width: 100%;
    height: 50px;

    .customSlider {
      max-width: 100%;
    }

    .customSlider__track {
      /* Top value to align your track to the center of your thumb */
      top: 20px;
      /* thickness of the track */
      height: 8px;
      background: $color-grey-100;

      .customSlider__track-0 {
        background: $color-red-700;
      }
    }

    .customSlider__thumb {
      cursor: pointer;
      /*color for the thumb */
      background: $color-red-600;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      outline: none;

      &:hover {
        box-shadow: 0 0 0 8px $color-red-500;
      }
    }
  }
}
